{% extends 'base.html' %}

{% block title %}
    Ответы
{% endblock %}

{% block content %}
    <div class="container">&nbsp;
        <h2 class="text-success">{{ poll.question }}</h2>&nbsp;
        <form method="post">
            {% csrf_token %}
            <select name="choice">
                {% for choice in poll.choices.all %}
                    <option class="text-success" value="{{ choice.id }}">{{ choice.option }}</option>
                {% endfor %}
            </select>
            <button class="text-success" type="submit">Ответить</button>
        </form>
    </div>
{% endblock %}